# Strings

* strings are a sequence of characters. The double quotes or single quote indicate the start and end of the sequence of characters

In [1]:
#String using single quote
str1 = "This is a string"

#String using double quotes
str2 = "This is a string"

str1 == str2

True

* You can write the string in single or double quotes. They are same

* For multiline strings, we use triple quotes ("""...""")

In [4]:
str3 = """Hey there!!
how are you doing?
I am good."""
print(str3)

Hey there!!
how are you doing?
I am good.

## 1) String Formatting

### a) format()

In [6]:
#declaring two variables
first_name = 'Rose'
last_name = 'Mary'

In [8]:
#Print using format function
print('Hello! I am Ms {} {}'.format(first_name,last_name))

Hello! I am Ms Rose Mary

* We use number inside the paranthesis, when we have to use the same value more than once. For example in the below case, we want to use the last_name twice in a string.

* If using numbering, then you have to number all the curly braces or else you will get the below error:
ValueError                                Traceback (most recent call last)
<ipython-input-12-9589e77deaff> in <module>
      2 print('Hello! I am Ms {0} {1}. {1} is my last name'.format(first_name,last_name))
      3 
----> 4 print('Hello! I am Ms {} {}. {1} is my last name'.format(first_name,last_name))

ValueError: cannot switch from automatic field numbering to manual field specification

In [12]:
#Print using format function and number inside parantheses
print('Hello! I am Ms {0} {1}. {1} is my last name'.format(first_name,last_name))

print('Hello! I am Ms {} {}. {1} is my last name'.format(first_name,last_name))

Hello! I am Ms Rose Mary. Mary is my last name

ValueError: cannot switch from automatic field numbering to manual field specification

### b) f-strings()
* Evaluates at the run time of the program and has a simpler structure compared to format(). Instead of number or using format function, you write the string variable name inside the curly braces.

Syntax:-
print(**f**'Hello! I am Ms {varibale_name1} {variable_name2}.')

**f** is written in front of the string inside the quotes.

In [15]:
#using f-strings for formatting
print(f'Hello! I am Ms {first_name} {last_name}. {last_name} is my last name')

Hello! I am Ms Rose Mary. Mary is my last name

## b) String Methods

In [16]:
#Using capitalize(): Returns string after converting the first character in uppercase
s = 'bollywood'
s.capitalize()

'Bollywood'

In [17]:
#Using lower(): Returns string after converting all the characters to lowercase
s1 = "HELLO"
s1.lower()

'hello'

In [18]:
#Using upper(): Returns string after converting all characters to uppercase
s1.lower().upper()

'HELLO'

In [23]:
#Using join(): which returns the string after concatenating elements of the string with a separator
s2 = ['Ram', 'sham', 'Mohan']     #list of strings
x = " ".join(s2)                  # joining the elements of list s2 with space and assinging variable x to it
print(x)

Ram sham Mohan

In [25]:
#Using len(): Returns the length of the string
s3 = "Python is a programming language"
#spaces are also counted as characters
len(s3)

32

In [28]:
#using count(): Returns the number of occurences of a substring
s3.count('n')     #the argument can have multiple characters

3

In [31]:
#using find(): Returns the index at which the first occurence of the substring is found, else returns -1
s3.find('y')

1

In [33]:
#Using islower(): Checks if all the characters of the string are lowercase or not. Returns 1 if true else 0
s.islower()

True

In [36]:
#Using isupper(): Checks if all the characters of the string are UPPERCASE or not. Returns 1 if true else 0
s1.isupper()

True

In [37]:
#Using split(): Returns a list of the string after breaking the string by the separator
s3.split(" ")

['Python', 'is', 'a', 'programming', 'language']

In [38]:
#using split()
s4 = "DATA+SCIENCE"
s4.split('+')

['DATA', 'SCIENCE']

In [39]:
#Using strip(): Removes any extra spaces at the beginning and at the end of the string
s5 = "  Lionel Messi  "
s5.strip()

'Lionel Messi'

## c) User Input

* Python provides an inbuilt function: input() which takes input from the user and evaluates it. The input taken from the user is of string data type. One has to convert it to a required data type.

* One can pass a string inside the input function providing instruction to the user

> eg: input("Enter a number: ")

In [40]:
s = int(input("Enter a number: "))

Enter a number: 10

In [41]:
print(s)
type(s)

10

int

In [45]:
s1 is s2   # is operator, used for confriming that two strings have the same identity

s6 = "HELLO"
s7 = "HELLO"

s1 == s6
s1 is s6

True

In [49]:
s1 == s6

True

In [51]:
s1 is s6

True

In [52]:
print(id(s1), id(s6))

140331949701552 140331949701552

Even though in the above, it seems **is** operator and **==** behave similarly, but they are actually different. Consider the below example:

In [54]:
v1 = "Hello"
v2 = "there"
v3 = "Hellothere"

print(v1 + v2 == v3)
print(v1 + v2 is v3)

True
False

As you can see in the above example, even though concatenation of **v1 + v2** evaluates to **v3**, comparison with v3 using **==** returns **True** but using **is** returns **False**.

Comparison operators ==, !=, <, > <= and >= perform comparison of strings according to lexicographic order of letter. Unicode values of letters in each string are compared one by one. Result of > and < operator depends on Unicode values of letters at index where they are not the same. For example, "bat" > "ball" returns True, which simply means, first string appears after the second in alphabetical order.

In [47]:
s2 is not s3

True

In [58]:
print(s3.istitle())   #Checks if each word in a string begins with a capital letter
print(v3.istitle())

False
True